@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Doug Does</h1>
    <p class="lead">A website for exploring and recording the adventures I go on.</p>    
</div>

<div class="row">
    <h1>More coming soon.  Placeholder for now.</h1>
</div>